{{> header}}
{{> navbar }}
<div class="row">

<div class="col-8">
<h1>Spiderman</h1>
<p>Hola, bienvenidos a todos</p>
</div>

<div class="col-4">
    <img src="assets/img/spiderman.jpg" class="img-thumbnail">
</div>
</div> 

{{> footer }}